Repository m0wer/neutrino-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, go-test

go-fmt:
  name: go fmt
  entry: bash -c 'cd neutrino_server && go fmt ./...'
  language: system
  pass_filenames: false

go-vet:
  name: go vet
  entry: bash -c 'cd neutrino_server && go vet ./...'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: bash -c 'cd neutrino_server && go mod tidy'
  language: system
  pass_filenames: false

go-test:
  name: go test
  entry: bash -c 'cd neutrino_server && go test ./...'
  language: system
  pass_filenames: false

style: fix lint
  neutrino_server/internal/neutrino/node.go
Due: go-fmt, go-vet, go-test

build: add staticcheck to prek
  .pre-commit-config.yaml
Due: none

chore: prepare release v0.10.0
  CHANGELOG.md
  signatures/v0.10.0/SHA256SUMS
  signatures/v0.10.0/SHA256SUMS.asc
Due: none

feat(api): expose version and watched-address diagnostics
  CHANGELOG.md
  neutrino_server/cmd/neutrinod/main.go
  neutrino_server/internal/api/handler.go
  neutrino_server/internal/api/handler_test.go
  neutrino_server/internal/neutrino/node.go
  neutrino_server/internal/neutrino/node_test.go
  neutrino_server/internal/neutrino/rescan.go
  neutrino_server/internal/neutrino/rescan_test.go
Due: go-fmt, go-vet, go-test

feat(auth): add auto-TLS and API token authentication
  docker-compose.yml
  neutrino_server/cmd/neutrinod/main.go
  neutrino_server/internal/auth/auth_test.go
  neutrino_server/internal/auth/middleware.go
  neutrino_server/internal/auth/tls.go
  neutrino_server/internal/auth/token.go
  neutrino_server/internal/neutrino/store.go
  neutrino_server/internal/neutrino/store_test.go
Due: go-fmt, go-vet, go-test

ci(docker): publish major version image tags
  .github/workflows/docker.yaml
Due: none

docs: add breaking-change migration and versioned Docker guidance
  CHANGELOG.md
  README.md
Due: none

test(e2e): support HTTPS auth and configurable sync thresholds
  neutrino_server/e2e/mainnet_test.go
Due: go-fmt, go-vet, go-test

chore: prepare release v1.0.0
  CHANGELOG.md
  signatures/v1.0.0/SHA256SUMS
  signatures/v1.0.0/SHA256SUMS.asc
Due: none

chore: replace placeholder paths with m0wer
  RELEASE.md
  neutrino_server/cmd/neutrinod/main.go
  neutrino_server/go.mod
  neutrino_server/go.sum
  neutrino_server/internal/api/handler.go
  neutrino_server/internal/api/handler_test.go
Due: go-fmt, go-vet, go-mod-tidy, go-test

chore: prepare release v1.0.1
  CHANGELOG.md
  signatures/v1.0.1/SHA256SUMS
  signatures/v1.0.1/SHA256SUMS.asc
Due: none

feat(neutrino): replace header import with cfilter CDN prefetch
  neutrino_server/cmd/neutrinod/main.go
  neutrino_server/go.mod
  neutrino_server/go.sum
  neutrino_server/internal/neutrino/node.go
  neutrino_server/internal/neutrino/node_test.go
Due: go-fmt, go-vet, go-mod-tidy, go-test

docs: update changelog and readme for cfilter CDN migration
  CHANGELOG.md
  README.md
Due: none

fix(neutrino): improve CDN cfilter prefetch resilience and coverage
  neutrino_server/go.mod
  neutrino_server/go.sum
  neutrino_server/internal/neutrino/node.go
  neutrino_server/internal/neutrino/node_test.go
Due: go-fmt, go-vet, go-mod-tidy, go-test

docs: update changelog with CDN resilience fixes
  CHANGELOG.md
Due: none

chore: prepare release v1.1.0
  CHANGELOG.md
  signatures/v1.1.0/SHA256SUMS
  signatures/v1.1.0/SHA256SUMS.asc
Due: none

feat(neutrino): keep watched address scans current
  CHANGELOG.md
  README.md
  neutrino_server/cmd/neutrinod/main.go
  neutrino_server/internal/neutrino/node.go
  neutrino_server/internal/neutrino/rescan.go
  neutrino_server/internal/neutrino/rescan_test.go
Due: go-fmt, go-vet, go-test

chore: prepare release v1.2.0
  CHANGELOG.md
Due: none

chore: release signatures
  signatures/v1.2.0/SHA256SUMS
  signatures/v1.2.0/SHA256SUMS.asc
Due: none

ci: add all platforms to release and docker workflows
  .github/workflows/docker.yaml
  .github/workflows/release.yaml
  CHANGELOG.md
  README.md
  RELEASE.md
Due: none

ci: update GitHub Actions versions
  .github/workflows/docker.yaml
  .github/workflows/e2e-mainnet.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
Due: none

test: harden mainnet e2e shutdown and tune CI timeout
  .github/workflows/e2e-mainnet.yaml
  neutrino_server/e2e/mainnet_test.go
Due: go-fmt, go-vet, go-test

feat(mempool): add watched-only mempool tracker
  CHANGELOG.md
  README.md
  neutrino_server/cmd/neutrinod/main.go
  neutrino_server/go.mod
  neutrino_server/go.sum
  neutrino_server/internal/api/handler.go
  neutrino_server/internal/api/handler_test.go
  neutrino_server/internal/neutrino/mempool.go
  neutrino_server/internal/neutrino/mempool_test.go
  neutrino_server/internal/neutrino/node.go
  neutrino_server/internal/neutrino/rescan.go
  neutrino_server/internal/neutrino/rescan_match.go
Due: go-fmt, go-vet, go-mod-tidy, go-test

Prepare release v1.3.0
  CHANGELOG.md
Due: none

Add signed checksums for v1.3.0
  signatures/v1.3.0/SHA256SUMS
  signatures/v1.3.0/SHA256SUMS.asc
Due: none

fix(release): build full platform matrix in signing scripts
  CHANGELOG.md
  scripts/release-build-sign.sh
  scripts/verify-release-build.sh
Due: none

chore(release): regenerate signed checksums for v1.3.0
  signatures/v1.3.0/SHA256SUMS
  signatures/v1.3.0/SHA256SUMS.asc
Due: none

feat: add confirmed tx history store and GET /v1/transactions endpoint
  CHANGELOG.md
  README.md
  neutrino_server/cmd/neutrinod/main.go
  neutrino_server/internal/api/handler.go
  neutrino_server/internal/api/handler_test.go
  neutrino_server/internal/neutrino/mempool.go
  neutrino_server/internal/neutrino/node.go
  neutrino_server/internal/neutrino/rescan.go
  neutrino_server/internal/neutrino/rescan_txhistory_test.go
  neutrino_server/internal/neutrino/store.go
  neutrino_server/internal/neutrino/store_test.go
Due: go-fmt, go-vet, go-test

chore(release): Prepare release v1.4.0
  CHANGELOG.md
Due: none

chore(release): add signed checksums for v1.4.0
  signatures/v1.4.0/SHA256SUMS
  signatures/v1.4.0/SHA256SUMS.asc
Due: none

feat: add forced rescans with serialized admission
  CHANGELOG.md
  README.md
  neutrino_server/internal/api/handler.go
  neutrino_server/internal/api/handler_test.go
  neutrino_server/internal/neutrino/node.go
  neutrino_server/internal/neutrino/rescan.go
  neutrino_server/internal/neutrino/rescan_test.go
Due: go-fmt, go-vet, go-test

chore(release): Prepare release v1.5.0
  CHANGELOG.md
Due: none

chore(deps): bump neutrino baseline to v0.17.1 and update dependencies
  .github/workflows/release.yaml
  CHANGELOG.md
  neutrino_server/go.mod
  neutrino_server/go.sum
  neutrino_server/internal/neutrino/node.go
  scripts/release-build-sign.sh
  scripts/verify-release-build.sh
Due: go-fmt, go-vet, go-mod-tidy, go-test

chore(release): add signed checksums for v1.5.0
  signatures/v1.5.0/SHA256SUMS
  signatures/v1.5.0/SHA256SUMS.asc
Due: none

fix: recover inconsistent header cache
  CHANGELOG.md
  README.md
  neutrino_server/cmd/neutrinod/main.go
  neutrino_server/internal/neutrino/node.go
  neutrino_server/internal/neutrino/recovery.go
  neutrino_server/internal/neutrino/recovery_test.go
Due: go-fmt, go-vet, go-test

build: remove unused Alpine build packages
  neutrino_server/Dockerfile
Due: none

fix: embed version in Docker image
  neutrino_server/Dockerfile
Due: none

fix(ci): pin Go 1.25 compatible staticcheck
  .github/workflows/test.yaml
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
  go-test: any of: \.go$
