Repository m0wer/neutrino-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, go-test

.pre-commit-config.yaml:

default_language_version:
  python: python3.14

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml

  # Go hooks
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: bash -c 'cd neutrino_server && go fmt ./...'
        language: system
        files: \.go$
        pass_filenames: false
      - id: go-vet
        name: go vet
        entry: bash -c 'cd neutrino_server && go vet ./...'
        language: system
        files: \.go$
        pass_filenames: false
      - id: go-mod-tidy
        name: go mod tidy
        entry: bash -c 'cd neutrino_server && go mod tidy'
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false
      - id: go-test
        name: go test
        entry: bash -c 'cd neutrino_server && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

chore(release): add signed checksums for v1.6.0
  signatures/v1.6.0/SHA256SUMS
  signatures/v1.6.0/SHA256SUMS.asc
Due: none

chore(release): prepare release v1.6.0
  CHANGELOG.md
Due: none

build: automate dependency updates
  AGENTS.md
  CHANGELOG.md
  scripts/update-dependencies.sh
Due: none

chore(deps): migrate to btcd v2
  .github/workflows/docker.yaml
  .github/workflows/e2e-mainnet.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  docker-compose.yml
  neutrino_server/Dockerfile
  neutrino_server/go.mod
  neutrino_server/go.sum
  neutrino_server/internal/api/handler.go
  neutrino_server/internal/api/handler_test.go
  neutrino_server/internal/neutrino/mempool.go
  neutrino_server/internal/neutrino/mempool_test.go
  neutrino_server/internal/neutrino/node.go
  neutrino_server/internal/neutrino/recovery.go
  neutrino_server/internal/neutrino/recovery_test.go
  neutrino_server/internal/neutrino/rescan.go
  neutrino_server/internal/neutrino/rescan_match.go
  neutrino_server/internal/neutrino/rescan_test.go
  neutrino_server/internal/neutrino/rescan_txhistory_test.go
  scripts/release-build-sign.sh
  scripts/update-dependencies.sh
  scripts/verify-release-build.sh
Due: go-fmt, go-vet, go-mod-tidy, go-test

fix: make single-UTXO scans fail closed
  CHANGELOG.md
  README.md
  neutrino_server/cmd/neutrinod/main.go
  neutrino_server/internal/api/handler.go
  neutrino_server/internal/api/handler_test.go
  neutrino_server/internal/neutrino/errors.go
  neutrino_server/internal/neutrino/node.go
  neutrino_server/internal/neutrino/node_test.go
Due: go-fmt, go-vet, go-test

fix: restore btcd v2 dependency builds
  CHANGELOG.md
  neutrino_server/Dockerfile
  neutrino_server/go.mod
  neutrino_server/go.sum
  neutrino_server/internal/neutrino/node_test.go
  scripts/update-dependencies.sh
Due: go-fmt, go-vet, go-mod-tidy, go-test

chore(release): prepare release v1.6.1
  CHANGELOG.md
Due: none

chore(release): add signed checksums for v1.6.1
  signatures/v1.6.1/SHA256SUMS
  signatures/v1.6.1/SHA256SUMS.asc
Due: none

feat: prefetch compact filters by default
  .gitignore
  CHANGELOG.md
  README.md
  neutrino_server/cmd/neutrinod/main.go
  neutrino_server/cmd/neutrinod/main_test.go
Due: go-fmt, go-vet, go-test

chore(release): prepare release v1.7.0
  CHANGELOG.md
Due: none

fix(release): support rootless Docker builds
  CHANGELOG.md
  scripts/release-build-sign.sh
  scripts/verify-release-build.sh
Due: none

chore(release): add signed checksums for v1.7.0
  signatures/v1.7.0/SHA256SUMS
  signatures/v1.7.0/SHA256SUMS.asc
Due: none

fix: embed version in branch Docker images
  .github/workflows/docker.yaml
  .github/workflows/test.yaml
  CHANGELOG.md
Due: none

chore(release): prepare release v1.7.1
  CHANGELOG.md
Due: none

chore(release): add signed checksums for v1.7.1
  signatures/v1.7.1/SHA256SUMS
  signatures/v1.7.1/SHA256SUMS.asc
Due: none

feat: remove watched addresses through API
  CHANGELOG.md
  README.md
  neutrino_server/internal/api/handler.go
  neutrino_server/internal/api/handler_test.go
  neutrino_server/internal/neutrino/mempool.go
  neutrino_server/internal/neutrino/mempool_test.go
  neutrino_server/internal/neutrino/node.go
  neutrino_server/internal/neutrino/rescan.go
  neutrino_server/internal/neutrino/rescan_match.go
  neutrino_server/internal/neutrino/rescan_test.go
  neutrino_server/internal/neutrino/store.go
  neutrino_server/internal/neutrino/store_test.go
Due: go-fmt, go-vet, go-test

fix(neutrino): make UTXO scans reorg-safe
  neutrino_server/internal/neutrino/node.go
  neutrino_server/internal/neutrino/node_test.go
  neutrino_server/internal/neutrino/rescan.go
  neutrino_server/internal/neutrino/rescan_test.go
  neutrino_server/internal/neutrino/utxo_provenance_test.go
  neutrino_server/internal/neutrino/utxo_snapshot_test.go
Due: go-fmt, go-vet, go-test

test(e2e): cover persisted UTXO cache reorgs
  .github/workflows/test.yaml
  docker-compose.reorg-test.yml
  scripts/test-utxo-reorg.py
Due: none

docs: document UTXO verification provenance
  CHANGELOG.md
  README.md
Due: none

chore(release): prepare release v1.8.0
  .github/workflows/e2e-mainnet.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  CHANGELOG.md
  neutrino_server/Dockerfile
  neutrino_server/go.mod
  neutrino_server/go.sum
  scripts/release-build-sign.sh
  scripts/update-dependencies.sh
  scripts/verify-release-build.sh
Due: go-mod-tidy

chore(release): add signed checksums for v1.8.0
  CHANGELOG.md
  signatures/v1.8.0/SHA256SUMS
  signatures/v1.8.0/SHA256SUMS.asc
Due: none
