Repository m0wer/neutrino-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, go-test

.pre-commit-config.yaml:

default_language_version:
  python: python3.14

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml

  # Go hooks
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: bash -c 'cd neutrino_server && go fmt ./...'
        language: system
        files: \.go$
        pass_filenames: false
      - id: go-vet
        name: go vet
        entry: bash -c 'cd neutrino_server && go vet ./...'
        language: system
        files: \.go$
        pass_filenames: false
      - id: go-mod-tidy
        name: go mod tidy
        entry: bash -c 'cd neutrino_server && go mod tidy'
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false
      - id: go-test
        name: go test
        entry: bash -c 'cd neutrino_server && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

docs: add AGENTS.md with development guidelines
  AGENTS.md
Due: none

chore: prepare release v0.1.0
  CHANGELOG.md
Due: none

ci(pre-commit): update Python version to 3.14
  .github/workflows/pre-commit.yaml
Due: none

ci(release): update release workflow to use gh CLI
  .github/workflows/release.yaml
Due: none

ci(release): improve checksum upload step
  .github/workflows/release.yaml
Due: none

ci(release): update release workflow to use gh release upload
  .github/workflows/release.yaml
Due: none

ci(release): simplify release title
  .github/workflows/release.yaml
Due: none

feat: Implement full rescan functionality with BIP157/BIP158 filters
  CHANGELOG.md
  neutrino_server/internal/api/handler.go
  neutrino_server/internal/api/handler_test.go
  neutrino_server/internal/neutrino/node.go
  neutrino_server/internal/neutrino/rescan.go
  neutrino_server/internal/neutrino/rescan_test.go
Due: go-fmt, go-vet, go-test

docs: update AGENTS.md with general guidelines
  AGENTS.md
Due: none

chore: prepare release v0.2.0
  CHANGELOG.md
Due: none

fix: remove unnecessary nil check in rescan_test.go
  neutrino_server/internal/neutrino/rescan_test.go
Due: go-fmt, go-vet, go-test

ci(release): require pre-commit and tests to pass before release
  .github/workflows/release.yaml
  CHANGELOG.md
Due: none

feat: Add mainnet e2e tests and server entry point
  .github/workflows/e2e-mainnet.yaml
  CHANGELOG.md
  README.md
  neutrino_server/cmd/neutrinod/main.go
  neutrino_server/e2e/mainnet_test.go
Due: go-fmt, go-vet, go-test

Prepare release v0.3.0
  CHANGELOG.md
Due: none

docs(README.md): simplify README
  README.md
Due: none

docs(README): remove duplicate docker build instruction
  README.md
Due: none

feat: UTXO lookup endpoint
  CHANGELOG.md
  README.md
  neutrino_server/cmd/neutrinod/main.go
  neutrino_server/internal/api/handler.go
  neutrino_server/internal/api/handler_test.go
  neutrino_server/internal/neutrino/node.go
Due: go-fmt, go-vet, go-test

chore: prepare release v0.4.0
  CHANGELOG.md
Due: none

feat: Add Tor support for enhanced privacy in Neutrino
  CHANGELOG.md
  README.md
  neutrino_server/cmd/neutrinod/main.go
  neutrino_server/go.mod
  neutrino_server/go.sum
  neutrino_server/internal/neutrino/node.go
  neutrino_server/internal/neutrino/node_test.go
Due: go-fmt, go-vet, go-mod-tidy, go-test

feat: Update Go version to 1.25
  .github/workflows/e2e-mainnet.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  CHANGELOG.md
  neutrino_server/Dockerfile
  neutrino_server/go.mod
Due: go-mod-tidy

chore: prepare release v0.5.0
  CHANGELOG.md
Due: none

ci(release): fix release notes formatting
  .github/workflows/release.yaml
Due: none

feat: remove fee estimation endpoint
  CHANGELOG.md
  README.md
  neutrino_server/e2e/mainnet_test.go
  neutrino_server/internal/api/handler.go
Due: go-fmt, go-vet, go-test

chore: prepare release v0.6.0
  CHANGELOG.md
Due: none

ci(test): remove fee estimation test
  .github/workflows/test.yaml
Due: none

fix: UTXO endpoint to return 404 for not found
  CHANGELOG.md
  neutrino_server/internal/api/handler.go
  neutrino_server/internal/neutrino/errors.go
  neutrino_server/internal/neutrino/node.go
Due: go-fmt, go-vet, go-test

chore: prepare release v0.6.1
  CHANGELOG.md
Due: none

feat: Add block_height to UTXOSpendReport and test JSON serialization
  CHANGELOG.md
  neutrino_server/internal/neutrino/node.go
  neutrino_server/internal/neutrino/node_test.go
Due: go-fmt, go-vet, go-test

feat: Add rescan status endpoint
  CHANGELOG.md
  neutrino_server/internal/api/handler.go
  neutrino_server/internal/api/handler_test.go
  neutrino_server/internal/neutrino/node.go
  neutrino_server/internal/neutrino/rescan.go
Due: go-fmt, go-vet, go-test

chore: prepare release v0.7.0
  CHANGELOG.md
Due: none

feat: Add addPeers setting to neutrino server
  CHANGELOG.md
  neutrino_server/cmd/neutrinod/main.go
  neutrino_server/internal/api/handler.go
  neutrino_server/internal/api/handler_test.go
  neutrino_server/internal/neutrino/node.go
  neutrino_server/internal/neutrino/rescan.go
  neutrino_server/internal/neutrino/rescan_test.go
Due: go-fmt, go-vet, go-test

build: reproducible build and signed release digest
  .github/workflows/release.yaml
  CHANGELOG.md
  README.md
  RELEASE.md
  VERSIONING.md
  scripts/release-build-sign.sh
  scripts/verify-release-build.sh
  signatures/README.md
  signatures/pubkeys/1C53A412D11EF3051704419C44912E1E03005B31.asc
  signatures/trusted-keys.txt
Due: none

chore: prepare release v0.8.0
  CHANGELOG.md
  signatures/v0.8.0/SHA256SUMS
  signatures/v0.8.0/SHA256SUMS.asc
Due: none

ci: update GitHub Actions to latest versions
  .github/workflows/docker.yaml
  .github/workflows/e2e-mainnet.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
Due: none

build: make reproducible builds more robust
  .github/workflows/release.yaml
  scripts/release-build-sign.sh
  scripts/verify-release-build.sh
Due: none

feat: Persistent state across restarts, incremental rescans, and logging
  CHANGELOG.md
  README.md
  docker-compose.yml
  neutrino_server/cmd/neutrinod/main.go
  neutrino_server/go.mod
  neutrino_server/internal/api/handler.go
  neutrino_server/internal/api/handler_test.go
  neutrino_server/internal/neutrino/node.go
  neutrino_server/internal/neutrino/node_test.go
  neutrino_server/internal/neutrino/rescan.go
  neutrino_server/internal/neutrino/rescan_test.go
  neutrino_server/internal/neutrino/store.go
  neutrino_server/internal/neutrino/store_test.go
Due: go-fmt, go-vet, go-mod-tidy, go-test

fix: test and Dockerfile
  neutrino_server/Dockerfile
  neutrino_server/internal/neutrino/store.go
Due: go-fmt, go-vet, go-test

chore: prepare release v0.9.0
  CHANGELOG.md
  signatures/v0.9.0/SHA256SUMS
  signatures/v0.9.0/SHA256SUMS.asc
Due: none

fix: Add spend verification fallback to rescan
  CHANGELOG.md
  neutrino_server/internal/neutrino/rescan.go
  neutrino_server/internal/neutrino/rescan_test.go
Due: go-fmt, go-vet, go-test

feat: optional clearnet initial sync and prefetch lookback
  CHANGELOG.md
  neutrino_server/cmd/neutrinod/main.go
  neutrino_server/internal/neutrino/node.go
Due: go-fmt, go-vet, go-test
